<div style="padding: 10% 25% 0 25%;" [formGroup]="selectFormGroup">
  <h1 style="font-weight: bold; color: darkblue;">Mat Select Search Advance - Multiple</h1>
  <mat-select-search-advanced 
      [objects]="objects" 
      indexKey="id" 
      [viewKey]="['name']" 
      [searchProperties]="['name']"
      placeholderSearchLabel="Search by name" 
      label="List Animal" 
      messageErrorRequired="You need select some thing"
      noEntriesFoundLabel="Found nothing" 
      tooltipMessage="Select all / Deselect all" 
      selectAllViewLabel="All animal"
      [initData] = "initArray"
      appearance = "outline"
      [multiple] = "true"
      [required] = "true"
      [showToggleAllCheckbox] = "false"
      (optionSelected$)="optionSelected($event)"
      formControlName ="selectCtrlMultiple"
     >
  </mat-select-search-advanced>
  <h1 style="font-weight: bold; color: darkgreen;">Mat Select Search Advance - Single</h1>

  <!-- <mat-select-search-advanced 
      appearance = "fill"
      [objects]="objects" 
      indexKey="id" 
      [viewKey]="['name', 'age', 'job']" 
      [searchProperties]="['name', 'job']"
      placeholderSearchLabel="Search by name" 
      label="List Animal" 
      messageErrorRequired="You need select some thing"
      noEntriesFoundLabel="Found nothing" 
      tooltipMessage="Select all / Deselect all" 
      selectAllViewLabel="All animal"
      [multiple]="false"
      [required] = "true"
      [initData] = "init"
      formControlName="selectCtrlSingle">
  </mat-select-search-advanced> -->
  <button mat-raised-button (click)="updateObject()">Change Array Data</button>
  <button mat-raised-button (click)="updateInitObject()">Change Init Array Data</button>
  <hr>
  <div class="matPreviewCard">
    <h1 style="font-weight: bold; color: darkgreen;">Mat Preview Media</h1>
    <h3>Image over width</h3>
    <div class="img-card">
      <img src="https://i.ibb.co/jr0KSwq/242499627-1014220756080167-6623136518582899302-n.jpg" (click)="preview('https://i.ibb.co/jr0KSwq/242499627-1014220756080167-6623136518582899302-n.jpg')">
    </div>
    <hr>
    <h3>Image over height</h3>
    <div class="img-card">
      <img src="https://i.ibb.co/MGR5TMY/build-pc.jpg" (click)="preview('https://i.ibb.co/MGR5TMY/build-pc.jpg')">
    </div>
  </div>
  <hr>
</div>